@page "/"
@using H5ServerSideProgrammeringMJ.Data;
@using H5ServerSideProgrammeringMJ.JCodes;
@using H5ServerSideProgrammeringMJ.Models;
@using Microsoft.AspNetCore.Identity;
@inject NavigationManager NavManager
@inject ToDoDBHandler toDoDBHandler
@inject ToDoContext toDoContext
@inject EncryptionJ encryptionJ

@if (isAuthenticated)
{
    <p>Du er logget ind som: @username</p>

    <input type="text" @bind="@newTaskName" @oninput="@((input) => { newTaskName = (string)input.Value; })">
    <input type="text" @bind="@newTaskDescription" @oninput="@((input) => { newTaskDescription = (string)input.Value; })">
    <button @onclick="() => createRow()">create</button>
    <br />
    <input disabled="@disableUpdate" type="text" @bind="@updateTaskName" @oninput="@((input) => { updateTaskName = (string)input.Value; })">
    <input disabled="@disableUpdate" type="text" @bind="@updateTaskDescription" @oninput="@((input) => { updateTaskDescription = (string)input.Value; })">
    <button disabled="@disableUpdate" @onclick="() => updateRow()">update</button>
    <table>
        <tr>
            <th> Id</th>
            <th> TaskName</th>
            <th> TaskDescription</th>
            <th> Actions </th>
        </tr>
        @foreach (ToDo todo in toDoList)
        {
            <tr>
                <td>@todo.Id</td>
                <td>@todo.TaskName"</td>
                <td>@decryptTaskDescription(@todo.TaskDescription)</td>
                <button @onclick="() => selectUpdateRow(todo)">select</button>
                <button @onclick="() => deleteRow(todo)">delete</button>
                <button @onclick="() => GoToHashing(todo)">Check hashing</button>
            </tr>
        }
    </table>

}
else
{
    <p>Velkommen! Du skal logge ind for at se din ToDo liste</p>
}
<PageTitle>Index</PageTitle>

@code {

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    public string username { get; set; }
    private bool isAuthenticated { get; set; }

    private List<ToDo> toDoList { get; set; }

    private string newTaskName { get; set; }
    private string newTaskDescription { get; set; }

    private bool disableUpdate { get; set; }
    private int updateTaskId { get; set; }
    private string updateTaskName { get; set; }
    private string updateTaskDescription { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        var user = authState.User;
        username = user.Identity.Name;
        isAuthenticated = user.Identity.IsAuthenticated;
        disableUpdate = true;

        toDoList = toDoDBHandler.ReadAll(username, toDoContext);
    }

    private string decryptTaskDescription(string taskDescription)
    {
        return taskDescription = encryptionJ.DecryptString(taskDescription);
    }

    private void GoToHashing(ToDo todo)
    {
        //string taskDescriptionFromUser = decryptTaskDescription(todo.TaskDescription);
        NavManager.NavigateTo($"/hashingcheck/{todo.TaskDescription}/{todo.Id}");
    }

    private void createRow()
    {
        newTaskDescription = encryptionJ.EncryptString(newTaskDescription);
        toDoDBHandler.Create(newTaskName, newTaskDescription, username, toDoContext);
        newTaskName = "";
        newTaskDescription = "";

        toDoList = toDoDBHandler.ReadAll(username, toDoContext);
    }
    private void selectUpdateRow(ToDo todo)
    {
        disableUpdate = false; 
        updateTaskId = todo.Id;
        updateTaskName = todo.TaskName;
        updateTaskDescription = todo.TaskDescription;
        updateTaskDescription = encryptionJ.DecryptString(updateTaskDescription);
    }
    private void updateRow()
    {
        updateTaskDescription = encryptionJ.EncryptString(updateTaskDescription);
        toDoDBHandler.Update(updateTaskName, updateTaskDescription, updateTaskId, toDoContext);
        updateTaskId = 0;
        updateTaskName = "";
        updateTaskDescription = "";
        disableUpdate = true;

        toDoList = toDoDBHandler.ReadAll(username, toDoContext);
    }
    private void deleteRow(ToDo todo)
    {
        toDoDBHandler.Delete(todo.Id, toDoContext);
        toDoList = toDoDBHandler.ReadAll(username, toDoContext);
    }
}